
  :root {

    --yellow : #ffe497;
    --mint : #c4f0f0;
    --purple : #ded8ff;
    --right-green : #c9dc93;
    --green : #10ab7d;
    --gray : #1e1e2a;
    --ivory : #DDD0cB;
    --horizontal-space : 25px;
    --main-border : 1px solid rgba(0,0,0,0.3);
    --redyellow : #EFAC86;
    --red : #ED6769;

}